.post {
    font-family: sans-serif;
    font-size: 1.4rem;
    color: #333333;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}